    
@{
    ViewBag.Title = "Baihat";
    Layout = null;
}

<div class="Root__main-view">
    <div class="main-view-container">
        <div class="under-main-view"></div>
        <div class="os-host os-host-foreign os-theme-spotify os-host-resize-disabled os-host-scrollbar-horizontal-hidden main-view-container__scroll-node os-host-transition os-host-overflow os-host-overflow-y">
            <div class="os-resize-observer-host observed">
                <div class="os-resize-observer"
                     style="left: 0px; right: auto"></div>
            </div>
            <div class="os-padding">
                <div class="os-viewport os-viewport-native-scrollbars-invisible"
                     style="overflow-y: scroll">
                    <div class="os-content"
                         style="padding: 0px; height: 100%; width: 100%">
                        <div class="main-view-container__scroll-node-child-spacer"></div>
                        <div class="main-view-container__scroll-node-child"
                             style="
                          min-height: calc(((100vh - 64px) - 90px) - 519px);
                        ">
                            <main tabindex="-1" aria-label="Spotify – Chiều Hôm Ấy">
                                <section class="n8Bz0c0v17whD3KfMdOk"
                                         data-testid="album-page">
                                    <div class="contentSpacing NXiYChVp4Oydfxd7rT5r RMDSGDMFrx8eXHpFphqG">
                                        <div class="gHImFiUWOg93pvTefeAD"
                                             style="background-color: rgb(248, 248, 224)"></div>
                                        <div class="gHImFiUWOg93pvTefeAD xYgjMpAjE5XT05aRIezb"></div>
                                        <div></div>
                                        <div class="_gLjHpwOxHFwo5nLM8hb"
                                             draggable="true">
                                            <div class="CmkY1Ag0tJDfnFXbGgju"
                                                 draggable="false">
                                                <img aria-hidden="false"
                                                     draggable="false"
                                                     loading="lazy"
                                                     src="/image/@ViewBag.baihat.image"
                                                     class="mMx2LUixlnN_Fu45JpFB CmkY1Ag0tJDfnFXbGgju _EShSNaBK1wUIaZQFJJQ Yn2Ei5QZn19gria6LjZj"
                                                     sizes="(min-width: 1280px) 232px, 192px" />
                                            </div>
                                        </div>
                                        <div class="RP2rRchy4i8TIp1CTmb7">
                                            <span dir="auto"
                                                  class="rEN7ncpaUeSGL9z0NGQR"
                                                  draggable="true">
                                                <h1 dir="auto"
                                                    class="Type__TypeElement-goli3j-0 beQQox"
                                                    style="
                                      margin: 0.08em 0px 0.12em;
                                      visibility: visible;
                                      width: 100%;
                                      font-size: 6rem;
                                    ">
                                                    @ViewBag.baihat.TenBH
                                                </h1>
                                            </span>
                                            <div class="Fb61sprjhh75aOITDnsJ">
                                                <div class="RANLXG3qKB61Bh33I0r2 NO_VO3MRVl9z3z56d8Lg">
                                                    <span class="Type__TypeElement-goli3j-0 hkMLug"><a href=""> @ViewBag.baihat.CaSi.TenCS</a></span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="CoLO4pdSl8LGWyVZA00t"
                                         style="background-color: rgb(248, 248, 224)"></div>
                                    <div class="os-host os-host-foreign os-theme-spotify os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-scrollbar-vertical-hidden os-host-transition">
                                        <div class="os-resize-observer-host observed">
                                            <div class="os-resize-observer"
                                                 style="left: 0px; right: auto"></div>
                                        </div>
                                        <div class="os-size-auto-observer observed"
                                             style="height: calc(100% + 1px); float: left">
                                            <div class="os-resize-observer"></div>
                                        </div>
                                        <div class="os-content-glue"
                                             style="
                                  margin: 0px;
                                  height: 104px;
                                  width: 1294px;
                                "></div>
                                        <div class="os-padding">
                                            <div class="os-viewport os-viewport-native-scrollbars-invisible">
                                                <div class="os-content"
                                                     style="
                                      padding: 0px;
                                      height: auto;
                                      width: 100%;
                                    ">
                                                    <div class="E4q8ogfdWtye7YgotBlN contentSpacing">
                                                        <div class="eSg4ntPU2KQLfpLGXAww"
                                                             data-testid="action-bar-row">
                                                            <div class="PFgcCoJSWC3KjhZxHDYH">
                                                                <button data-testid="play-button"
                                                                        aria-label="Phát" onclick="playaudio1('/Sound/@ViewBag.baihat.Files', '/image/@ViewBag.baihat.image', '@ViewBag.baihat.TenBH', '@ViewBag.baihat.CaSi.TenCS' )"
                                                                        class="Button-qlcn5g-0 ktZgWY">
                                                                    <i class="fa-solid fa-circle-play fa-3x"></i>
                                                                </button>
                                                            </div>
                                                            <button type="button"
                                                                    role="switch"
                                                                    aria-checked="false"
                                                                    aria-label="Lưu vào Thư viện"
                                                                    class="Fm7C3gdh5Lsc9qSXrQwO"
                                                                    data-testid="add-button">
                                                                <i class="fa-regular fa-heart fa-2x"></i>
                                                            </button><button type="button"
                                                                             aria-haspopup="menu"
                                                                             aria-label="Các tùy chọn khác cho Chiều Hôm Ấy"
                                                                             class="T0anrkk_QA4IAQL29get"
                                                                             data-testid="more-button">
                                                                <i class="fa-solid fa-ellipsis fa-2x"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contentSpacing">
                                        <div role="grid"
                                             aria-rowcount="2"
                                             aria-colcount="3"
                                             aria-label="Chiều Hôm Ấy"
                                             class="ShMHCGsT93epRGdxJp2w Ss6hr6HYpN4wjHJ9GHmi"
                                             tabindex="0"
                                             data-testid="track-list">
                                            <div class="koyeY6AgGRPmyPITi7yO"
                                                 role="presentation"
                                                 style="top: 64px">
                                                <div class="dZPmmYYhskhqHJCAruvI wTUruPetkKdWAR1dd6w4"
                                                     role="row"
                                                     aria-rowindex="1">
                                                    <div class="NZAU7CsuZsMeMQB8zYUu"
                                                         role="columnheader"
                                                         aria-colindex="1"
                                                         aria-sort="none"
                                                         tabindex="-1">
                                                        #
                                                    </div>
                                                    <div class="gvLrgQXBFVW6m9MscfFA"
                                                         role="columnheader"
                                                         aria-colindex="2"
                                                         aria-sort="none"
                                                         tabindex="-1">
                                                        <div class="ASYv4mEu1lXEHVa04HqY">
                                                            <span class="Type__TypeElement-goli3j-0 llIfol standalone-ellipsis-one-line">tiêu đề</span>
                                                        </div>
                                                    </div>
                                                    <div class="HcMOFLaukKJdK5LfdHh0"
                                                         role="columnheader"
                                                         aria-colindex="3"
                                                         aria-sort="none"
                                                         tabindex="-1">
                                                        <div aria-label="thời lượng"
                                                             class="ASYv4mEu1lXEHVa04HqY AgiCqnZUliKs_dafpdyi">
                                                            <i class="fa-regular fa-clock"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="JUa6JJNj7R_Y3i4P8YUX"
                                                 style="height: 56px"
                                                 role="presentation">
                                                <div data-testid="top-sentinel"
                                                     class="lyVkg68L7ycnwyOcO3vj"
                                                     style="height: 56px">
                                                    <div class="wTUruPetkKdWAR1dd6w4"
                                                         data-testid="tracklist-row-placeholder"
                                                         style="height: calc(100% - 56px)">
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud NZAU7CsuZsMeMQB8zYUu cF8vKdBGYRZs_SpaG0Yz"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud gvLrgQXBFVW6m9MscfFA J0lnyV5H9q4Jj7FK0A72"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud bfQ2S9bMXr_kJjqEfcwA noANc1fQSmaQNKYVDEDQ"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud bfQ2S9bMXr_kJjqEfcwA noANc1fQSmaQNKYVDEDQ"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud bfQ2S9bMXr_kJjqEfcwA noANc1fQSmaQNKYVDEDQ"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud bfQ2S9bMXr_kJjqEfcwA noANc1fQSmaQNKYVDEDQ"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud HcMOFLaukKJdK5LfdHh0 Dj9_CzXA7IbUFIz4wOsA"></div>
                                                    </div>
                                                    <div style="height: 56px"></div>
                                                </div>
                                                <div style="transform: translateY(0px)"
                                                     role="presentation">
                                                    <div role="row"
                                                         aria-rowindex="2"
                                                         aria-selected="true">
                                                        <div data-testid="tracklist-row"
                                                             class="h4HgbO_Uu1JYg5UGANeQ wTUruPetkKdWAR1dd6w4 eRuZMo_HNLjb1IalIeRb"
                                                             draggable="true"
                                                             role="presentation">
                                                            <div class="NZAU7CsuZsMeMQB8zYUu"
                                                                 role="gridcell"
                                                                 aria-colindex="1"
                                                                 tabindex="-1">
                                                                <div class="VpYFchIiPg3tPhBGyynT">
                                                                    <span class="Type__TypeElement-goli3j-0 ipKmGr VrRwdIZO0sRX1lsWxJBe">1</span><button class="RfidWIoz8FON2WhFoItU" onclick="playaudio1('/Sound/@ViewBag.baihat.Files', '/image/@ViewBag.baihat.image', '@ViewBag.baihat.TenBH', '@ViewBag.baihat.CaSi.TenCS' )">
                                                                        <i class="fa-solid fa-play"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="gvLrgQXBFVW6m9MscfFA"
                                                                 role="gridcell"
                                                                 aria-colindex="2"
                                                                 tabindex="-1">
                                                                <div class="iCQtmPqY0QvkumAOuCjr">
                                                                    <div dir="auto"
                                                                         class="Type__TypeElement-goli3j-0 dlOSsY t_yrXoUO3qGsJS4Y6iXX standalone-ellipsis-one-line">
                                                                        @ViewBag.baihat.TenBH
                                                                    </div>
                                                                    <span class="Type__TypeElement-goli3j-0 gPOKDu rq2VQ5mb9SDAFWbBIUIn standalone-ellipsis-one-line">
                                                                        <a draggable="true"
                                                                           dir="auto"
                                                                           
                                                                           tabindex="-1">  @ViewBag.baihat.CaSi.TenCS</a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="HcMOFLaukKJdK5LfdHh0"
                                                                 role="gridcell"
                                                                 aria-colindex="3"
                                                                 tabindex="-1">
                                                                <a type="button"
                                                                   role="switch"
                                                                   aria-checked="false"
                                                                   aria-label="Lưu vào Thư viện"
                                                                   class="Fm7C3gdh5Lsc9qSXrQwO tGKwoPuvNBNK3TzCS5OH"
                                                                   data-testid="add-button"
                                                                   tabindex="-1"
                                                                   href="/Home/Themyeuthich/@ViewBag.baihat.MaBH">
                                                                    <i class="fa-regular fa-heart"></i>
                                                                </a>
                                                                <div class="Type__TypeElement-goli3j-0 gPOKDu Btg2qHSuepFGBG6X0yEN">

                                                                </div>
                                                                <div id="menuthem"
                                                                     style="
                                                                      z-index: 9999;
                                                                      position: absolute;
                                                                      inset: auto auto 0px 0px;
                                                                      margin: 0px 20px 0px 0px;
                                                                      transform: translate3d(1021px, -9px, 0px);
                                                                      display: none;
                                                                    ">
                                                                    <div class="fade" style=""></div>
                                                                    <div id="context-menu">
                                                                        <ul tabindex="0" role="menu" data-depth="0" class="SboKmDrCTZng7t4EgNoM">
                                                                            <li role="presentation" class="DuEPSADpSwCcO880xjUG" style="display: flex; align-items: center;">
                                                                                <button class="wC9sIed7pfp47wZbmU6m">
                                                                                    <span dir="auto"
                                                                                          class="Type__TypeElement-goli3j-0 iTnRIT ellipsis-one-line">Thêm vào danh sách phát</span><span>
                                                                                    </span>
                                                                                </button>


                                                                                
                                                                                <i class="fa-solid fa-x" onclick="tatmodalthem()"></i>
                                                                            </li>
                                                                            <li>
                                                                                <form method="post" action="/QLBH/themvaoPL/?id=@ViewBag.baihat.MaBH">
                                                                                    <select name="TenPL">
                                                                                        <option>Chọn playlist</option>
                                                                                        @foreach (var item in ViewBag.playlists)
                                                                                        {
                                                                                            <option value="@item.TenPL"  >@item.TenPL</option>
                                                                                        }
                                                                                    </select>
                                                                                    <button type="submit">ok</button>
                                                                                </form>
                                                                                @ViewBag.ok1
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <button type="button"
                                                                        onclick="hienmodalthem()"
                                                                        aria-haspopup="menu"
                                                                        aria-label="Các tùy chọn khác cho Chiều Hôm Ấy của JayKii"
                                                                        class="T0anrkk_QA4IAQL29get mYN_ST1TsDdC6q1k1_xs"
                                                                        data-testid="more-button"
                                                                        tabindex="-1">
                                                                    <i class="fa-solid fa-ellipsis-vertical ellips"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-testid="bottom-sentinel"
                                                     class="qnYVzttodnzg9WdrVQ1p"
                                                     style="height: calc(100% - 56px + 56px)">
                                                    <div style="height: 56px"></div>
                                                    <div class="wTUruPetkKdWAR1dd6w4"
                                                         data-testid="tracklist-row-placeholder"
                                                         style="height: calc(100% - 56px)">
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud NZAU7CsuZsMeMQB8zYUu cF8vKdBGYRZs_SpaG0Yz"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud gvLrgQXBFVW6m9MscfFA J0lnyV5H9q4Jj7FK0A72"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud bfQ2S9bMXr_kJjqEfcwA noANc1fQSmaQNKYVDEDQ"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud bfQ2S9bMXr_kJjqEfcwA noANc1fQSmaQNKYVDEDQ"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud bfQ2S9bMXr_kJjqEfcwA noANc1fQSmaQNKYVDEDQ"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud bfQ2S9bMXr_kJjqEfcwA noANc1fQSmaQNKYVDEDQ"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud HcMOFLaukKJdK5LfdHh0 Dj9_CzXA7IbUFIz4wOsA"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="in4OjUTflcsoj9RUpf05">
                                            <div>
                                                <p class="Type__TypeElement-goli3j-0 iTnRIT">
                                                    @ViewBag.baihat.NgayPH
                                                </p>
                                                <div class="rTMkDBDp47Eo12ZEQv4U">
                                                    <p dir="auto"
                                                       class="Type__TypeElement-goli3j-0 bqlnXU">
                                                        @ViewBag.baihat.CaSi.TenCS
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contentSpacing">
                                        <section class="jcaQQxoVnuuhtVwDJU1R QyANtc_r7ff_tqrf5Bvc"
                                                 data-testid="component-shelf"
                                                 aria-label="Album khác của JayKii">
                                            <div class="q8AZzDc_1BumBHZg0tZb">
                                                <div class="OMuRYOdpUbGif12_lRJl">
                                                    <div class="onVWL7MW4PW9FyVajBAc">
                                                        <h2 class="Type__TypeElement-goli3j-0 eJZNLq">
                                                            <span draggable="false"
                                                                  data-testid="see-all-link"
                                                                  class="MfVrtIzQJ7iZXfRWg6eM"
                                                                  href="/artist/4ZSYaCMxF2k6maN3KTP17F/discography">Các bài hát của @ViewBag.baihat.CaSi.TenCS</span>
                                                            </h2>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div data-testid="grid-container"
                                                     class="iKwGKEfAfW7Rkx2_Ba4E Z4InHgCs2uhk0MU93y_a"
                                                     style="
                                    --column-width: 185px;
                                    --column-count: 6;
                                    --grid-gap: 24px;
                                  ">
                                                    @foreach (var item in ViewBag.list)
                                                    {
                                                        <div class="LunqxlFIupJw_Dkx6mNx">
                                                            <div draggable="true"
                                                                 class="XiVwj5uoqqSFpS4cYOC6">
                                                                <div class="xBV4XgMq0gC5lQICFWY_">
                                                                    <div class="g4PZpjkqEh5g7xDpCr2K">
                                                                        <div class="">
                                                                            <img src="~/image/@item.image"
                                                                                 class="mMx2LUixlnN_Fu45JpFB SKJSok3LfyedjZjujmFt yOKoknIYYzAE90pe7_SE Yn2Ei5QZn19gria6LjZj" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="woJQ5t2YiaJhjTv_KE7p">
                                                                        <div class="PFgcCoJSWC3KjhZxHDYH">
                                                                            <button id="play-button1" onclick="playaudio1('/Sound/@item.Files', '/image/@item.image', '@item.TenBH', '@item.CaSi.TenCS' )" class="Button-qlcn5g-0 cKBTSk">
                                                                                <i class="fa-solid fa-circle-play fa-3x"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="E1N1ByPFWo4AJLHovIBQ">
                                                                    <a class="Nqa6Cw3RkDMV8QnYreTr"
                                                                       dir="auto"
                                                                       href="">
                                                                        <div class="Type__TypeElement-goli3j-0 iCdlru nk6UgB4GUYNoAcPtAQaG">
                                                                            @item.TenBH
                                                                        </div>
                                                                    </a>
                                                                    <div class="Type__TypeElement-goli3j-0 gPOKDu Za_uNH8nTZ0qCuIqbPLZ">
                                                                        <time datetime="2019">@item.NgayPH</time>
                                                                    </div>
                                                                </div>
                                                                <div class="tsv7E_RBBw6v0XTQlcRo"
                                                                     data-testid="card-click-handler"></div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </section>
                                        </div>
                                    </section>
                                </main>
                            </div>
                            <div class="main-view-container__mh-footer-container">
                                <div class="footerContentSpacing">
                                    <div data-testid="grid-container"
                                         class="iKwGKEfAfW7Rkx2_Ba4E"
                                         style="
                              --column-width: 185px;
                              --column-count: 6;
                              --grid-gap: 24px;
                            "></div>
                                </div>
                                <nav data-testid="footer-div"
                                     class="Footer__StyledFooter-sc-xwm5vq-0 cASFVN">
                                    <div class="Footer__TopSection-sc-xwm5vq-1 gFNFTZ">
                                        <div class="Footer__StyledTopLinks-sc-xwm5vq-2 tENXN"></div>
                                    </div>
                                    <hr class="HorizontalRule__HorizontalRuleElement-sc-198gjx4-0 dIIeNs Footer__Line-sc-xwm5vq-3 fPuANY" />
                                    <div class="Footer__StyledBottomLinks-sc-xwm5vq-4 kgThxK"></div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
