
    @using Newtonsoft.Json;


<div class="Root__main-view">
    <div class="main-view-container">
        <div class="under-main-view"></div>
        <div class="os-host os-host-foreign os-theme-spotify os-host-resize-disabled os-host-scrollbar-horizontal-hidden main-view-container__scroll-node os-host-transition os-host-overflow os-host-overflow-y">
            <div class="os-resize-observer-host observed">
                <div class="os-resize-observer"
                     style="left: 0px; right: auto"></div>
            </div>
            <div class="os-padding">
                <div class="os-viewport os-viewport-native-scrollbars-invisible"
                     style="overflow-y: scroll">
                    <div class="os-content"
                         style="padding: 0px; height: 100%; width: 100%">
                        <div class="main-view-container__scroll-node-child-spacer"></div>
                        <div class="main-view-container__scroll-node-child"
                             style="
                          min-height: calc(((100vh - 64px) - 90px) - 519px);
                        ">
                            <main tabindex="-1">
                                <section class="n8Bz0c0v17whD3KfMdOk"
                                         data-testid="album-page">
                                    <div class="contentSpacing NXiYChVp4Oydfxd7rT5r RMDSGDMFrx8eXHpFphqG">
                                        <div class="gHImFiUWOg93pvTefeAD"
                                             style="background-color: rgb(248, 248, 224)"></div>
                                        <div class="gHImFiUWOg93pvTefeAD xYgjMpAjE5XT05aRIezb"></div>
                                        <div></div>

                                        <div class="RP2rRchy4i8TIp1CTmb7">
                                            <h2>Playlist</h2>
                                            <span dir="auto"
                                                  class="rEN7ncpaUeSGL9z0NGQR"
                                                  draggable="true">
                                                <h1 dir="auto"
                                                    class="Type__TypeElement-goli3j-0 beQQox"
                                                    style="
                                      margin: 0.08em 0px 0.12em;
                                      visibility: visible;
                                      width: 100%;
                                      font-size: 6rem;
                                    ">
                                                    @ViewBag.ten
                                                </h1>
                                            </span>
                                            <div class="Fb61sprjhh75aOITDnsJ">
                                                <div class="RANLXG3qKB61Bh33I0r2 NO_VO3MRVl9z3z56d8Lg">
                                                    <span class="Type__TypeElement-goli3j-0 hkMLug"><a href="">@ViewBag.tk.Ten</a></span>
                                                </div>
                                                <span class="Type__TypeElement-goli3j-0 iTnRIT RANLXG3qKB61Bh33I0r2">@ViewBag.s bài hát</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="CoLO4pdSl8LGWyVZA00t"
                                         style="background-color: rgb(248, 248, 224)"></div>
                                    <div class="os-host os-host-foreign os-theme-spotify os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-scrollbar-vertical-hidden os-host-transition">
                                        <div class="os-resize-observer-host observed">
                                            <div class="os-resize-observer"
                                                 style="left: 0px; right: auto"></div>
                                        </div>
                                        <div class="os-size-auto-observer observed"
                                             style="height: calc(100% + 1px); float: left">
                                            <div class="os-resize-observer"></div>
                                        </div>
                                        <div class="os-content-glue"
                                             style="
                                  margin: 0px;
                                  height: 104px;
                                  width: 1294px;
                                "></div>
                                        <div class="os-padding">
                                            <div class="os-viewport os-viewport-native-scrollbars-invisible">
                                                <div class="os-content"
                                                     style="
                                      padding: 0px;
                                      height: auto;
                                      width: 100%;
                                    ">
                                                    <div class="E4q8ogfdWtye7YgotBlN contentSpacing">
                                                        <div class="eSg4ntPU2KQLfpLGXAww"
                                                             data-testid="action-bar-row">
                                                            <div class="PFgcCoJSWC3KjhZxHDYH">
                                                                <button data-testid="play-button"
                                                                      id="playButton"
                                                                        class="Button-qlcn5g-0 ktZgWY">
                                                                    <i class="fa-solid fa-circle-play fa-3x"></i>
                                                                </button>
                                                            </div>

                                                            <button type="button"
                                                                    aria-haspopup="menu"
                                                                    class="T0anrkk_QA4IAQL29get"
                                                                    data-testid="more-button">
                                                                <i class="fa-solid fa-ellipsis fa-2x"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contentSpacing">
                                        <div role="grid"
                                             aria-rowcount="34"
                                             aria-colcount="5"
                                             aria-label="us-uk"
                                             class="ShMHCGsT93epRGdxJp2w Ss6hr6HYpN4wjHJ9GHmi"
                                             tabindex="0"
                                             data-testid="playlist-tracklist">
                                            <div class="koyeY6AgGRPmyPITi7yO qJOhHoRcFhHJpEQ2CwFT"
                                                 role="presentation"
                                                 style="top: 64px">
                                                <div class="dZPmmYYhskhqHJCAruvI wTUruPetkKdWAR1dd6w4"
                                                     role="row"
                                                     aria-rowindex="1">
                                                    <div class="NZAU7CsuZsMeMQB8zYUu"
                                                         role="columnheader"
                                                         aria-colindex="1"
                                                         aria-sort="none"
                                                         tabindex="-1">
                                                        #
                                                    </div>
                                                    <div class="gvLrgQXBFVW6m9MscfFA"
                                                         role="columnheader"
                                                         aria-colindex="2"
                                                         aria-sort="none"
                                                         tabindex="-1">
                                                        <div class="ASYv4mEu1lXEHVa04HqY">
                                                            <span class="Type__TypeElement-goli3j-0 llIfol standalone-ellipsis-one-line">tiêu đề</span>
                                                        </div>
                                                    </div>
                                                    <div class="bfQ2S9bMXr_kJjqEfcwA"
                                                         role="columnheader"
                                                         aria-colindex="3"
                                                         aria-sort="none"
                                                         tabindex="-1">
                                                        <div class="ASYv4mEu1lXEHVa04HqY">
                                                            <span class="Type__TypeElement-goli3j-0 llIfol standalone-ellipsis-one-line">thể loại</span>
                                                        </div>
                                                    </div>
                                                    <div class="bfQ2S9bMXr_kJjqEfcwA"
                                                         role="columnheader"
                                                         aria-colindex="4"
                                                         aria-sort="none"
                                                         tabindex="-1">
                                                        <div class="ASYv4mEu1lXEHVa04HqY">
                                                            <span class="Type__TypeElement-goli3j-0 llIfol standalone-ellipsis-one-line">ngày phát hành</span>
                                                        </div>
                                                    </div>
                                                    @*<div class="HcMOFLaukKJdK5LfdHh0"
                                                             role="columnheader"
                                                             aria-colindex="5"
                                                             aria-sort="none"
                                                             tabindex="-1">
                                                            <div aria-label="thời lượng"
                                                                 class="ASYv4mEu1lXEHVa04HqY AgiCqnZUliKs_dafpdyi"
                                                                 aria-expanded="false">
                                                                <i class="fa-regular fa-clock"></i>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="JUa6JJNj7R_Y3i4P8YUX"
                                                 role="presentation"
                                                 style="max-height: 1848px; min-height: 200px">
                                                <div data-testid="top-sentinel"
                                                     class="lyVkg68L7ycnwyOcO3vj"
                                                     style="height: 1008px">
                                                    <div class="wTUruPetkKdWAR1dd6w4"
                                                         data-testid="tracklist-row-placeholder"
                                                         style="height: calc(100% - 1008px)">
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud NZAU7CsuZsMeMQB8zYUu cF8vKdBGYRZs_SpaG0Yz"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud gvLrgQXBFVW6m9MscfFA BciIfT5b6BSIPIr6feK4"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud bfQ2S9bMXr_kJjqEfcwA noANc1fQSmaQNKYVDEDQ"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud bfQ2S9bMXr_kJjqEfcwA noANc1fQSmaQNKYVDEDQ"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud bfQ2S9bMXr_kJjqEfcwA noANc1fQSmaQNKYVDEDQ"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud bfQ2S9bMXr_kJjqEfcwA noANc1fQSmaQNKYVDEDQ"></div>
                                                        <div class="Iy7vi9cVsy6pS6wF8Dud HcMOFLaukKJdK5LfdHh0 Dj9_CzXA7IbUFIz4wOsA"></div>
                                                    </div>
                                                    <div style="height: 1008px"></div>
                                                </div>

                                                @foreach (var item in ViewBag.playlist)
                                                {
                                                    if (item.MaBH != null)
                                                    {

                                                        <div role="presentation"
                                                             style="transform: translateY(0px)">
                                                            <div role="row"
                                                                 aria-rowindex="2"
                                                                 aria-selected="false">
                                                                <div data-testid="tracklist-row"
                                                                     class="h4HgbO_Uu1JYg5UGANeQ wTUruPetkKdWAR1dd6w4"
                                                                     draggable="true"
                                                                     role="presentation">
                                                                    <div class="NZAU7CsuZsMeMQB8zYUu"
                                                                         role="gridcell"
                                                                         aria-colindex="1"
                                                                         tabindex="-1">
                                                                        <div class="VpYFchIiPg3tPhBGyynT">
                                                                            <span class="Type__TypeElement-goli3j-0 ipKmGr VrRwdIZO0sRX1lsWxJBe">1</span>
                                                                            <button class="RfidWIoz8FON2WhFoItU"
                                                                                    onclick="playaudio1('/Sound/@item.Nhac.Files', '/image/@item.Nhac.image', '@item.Nhac.TenBH', '@item.Nhac.CaSi.TenCS' )"
                                                                                    tabindex="-1">
                                                                                <i class="fa-solid fa-play"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="gvLrgQXBFVW6m9MscfFA"
                                                                         role="gridcell"
                                                                         aria-colindex="2"
                                                                         tabindex="-1">
                                                                        <img aria-hidden="false"
                                                                             draggable="false"
                                                                             loading="eager"
                                                                             src="/image/@item.Nhac.image"
                                                                             alt=""
                                                                             class="mMx2LUixlnN_Fu45JpFB rkw8BWQi3miXqtlJhKg0 Yn2Ei5QZn19gria6LjZj"
                                                                             width="40"
                                                                             height="40" />
                                                                        <div class="iCQtmPqY0QvkumAOuCjr">
                                                                            <a draggable="false"
                                                                               class="t_yrXoUO3qGsJS4Y6iXX"
                                                                               data-testid="internal-track-link"
                                                                              
                                                                               tabindex="-1">
                                                                                <div dir="auto"
                                                                                     class="Type__TypeElement-goli3j-0 dlOSsY t_yrXoUO3qGsJS4Y6iXX standalone-ellipsis-one-line"
                                                                                     aria-expanded="false">
                                                                                    @item.Nhac.TenBH
                                                                                </div>
                                                                            </a><span class="Type__TypeElement-goli3j-0 gPOKDu rq2VQ5mb9SDAFWbBIUIn standalone-ellipsis-one-line">
                                                                                <a draggable="true"
                                                                                   dir="auto"
                                                                                   
                                                                                   tabindex="-1">@item.Nhac.CaSi.TenCS</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="bfQ2S9bMXr_kJjqEfcwA"
                                                                         role="gridcell"
                                                                         aria-colindex="3"
                                                                         tabindex="-1">
                                                                        <span class="Type__TypeElement-goli3j-0 iTnRIT">
                                                                            <a draggable="true"
                                                                               class="standalone-ellipsis-one-line"
                                                                               dir="auto"
                                                                               href="/album/6cunQQ7YZisYOoiFu2ywIq"
                                                                               tabindex="-1">@item.Nhac.TheLoai.TenTL</a>
                                                                        </span>
                                                                    </div>
                                                                    <div class="bfQ2S9bMXr_kJjqEfcwA"
                                                                         role="gridcell"
                                                                         aria-colindex="4"
                                                                         tabindex="-1">
                                                                        <span class="Type__TypeElement-goli3j-0 gPOKDu">15 thg 11, 2021</span>
                                                                    </div>
                                                                    <div class="HcMOFLaukKJdK5LfdHh0"
                                                                         role="gridcell"
                                                                         aria-colindex="5"
                                                                         tabindex="-1">
                                                                        <button type="button"
                                                                                role="switch"
                                                                                aria-checked="false"
                                                                                aria-label="Lưu vào Thư viện"
                                                                                class="Fm7C3gdh5Lsc9qSXrQwO tGKwoPuvNBNK3TzCS5OH"
                                                                                data-testid="add-button"
                                                                                tabindex="-1">
                                                                            <i class="fa-regular fa-heart"></i>
                                                                        </button>
                                                                        @*<div class="Type__TypeElement-goli3j-0 gPOKDu Btg2qHSuepFGBG6X0yEN">
                                    3:19
                                </div>*@
                                                                        <button type="button"
                                                                                aria-haspopup="menu"
                                                                                aria-label="Các tùy chọn khác cho What Makes You Beautiful của One Direction"
                                                                                class="T0anrkk_QA4IAQL29get mYN_ST1TsDdC6q1k1_xs"
                                                                                data-testid="more-button"
                                                                                tabindex="-1"
                                                                                aria-expanded="false">
                                                                            <i class="fa-solid fa-ellipsis"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                <div id="playlist">
                                                    @foreach (var item in ViewBag.playlist)
                                                    {
                                                        if (item.MaBH != null)
                                                        {
                                                            <div data-src="/Sound/@item.Nhac.Files" data-img="/image/@item.Nhac.image" data-title="@item.Nhac.TenBH" data-artist="@item.Nhac.CaSi.TenCS"></div>
                                                        }
                                                    }
                                                </div>

                                                <audio id="player" >
                                                    <source src="" type="audio/mpeg">
                                                </audio>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </main>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script>
    const playlist = document.getElementById('playlist').children;
    const player = document.getElementById('player');
    const playButton = document.getElementById('playButton');

    let isPlaying = false;

    // Lặp qua tất cả các phần tử trong danh sách phát và thêm chúng vào bộ đệm
    for (let i = 0; i < playlist.length; i++) {
        playlist[i].addEventListener('click', function () {
            player.src = this.getAttribute('data-src');
            const title = this.getAttribute('data-title');
            const artist = this.getAttribute('data-artist');

            i
        });
    }
 
    
    // Bắt sự kiện "click" trên nút phát nhạc
    playButton.addEventListener('click', function () {
        if (isPlaying) {
            player.pause();
            playButton.textContent = 'Play';
        } else {
            if (player.readyState >= 4) {
                player.play();
            } else {
                player.addEventListener('canplay', function () {
                    player.play();
                });
                player.load();
            }
            playButton.textContent = 'Pause';
        }
        isPlaying = !isPlaying;
    });
</script>